<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title> P-ingineering</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="The official Pinterest blog."/>

  <link rel="shortcut icon" href="http://25.media.tumblr.com/avatar_f3159297cd2b_16.png"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://engineering.pinterest.com/rss"/>
  <link rel="stylesheet" href="/media/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
<!--[if lte IE 6]>
  <style type="text/css">
    #sidebar h1 a { height: 76px; }
    #sidebar #other ul li { width: 98%; }
    h4 { font-size: 1.1em; }

    .quote big {
      font: bold 4em/.7 Georgia, serif;
      padding: 0 .1em;
      vertical-align: -.45em;
    }
    
    #content { width: 500px; }
  </style>
<![endif]-->
<body style="background: #FCF9F9 !important;">
  <div id="contain">
    <div id="sidebar">
      <h1><a href="/">Oh, How Pinteresting!</a></h1>
      
      
      <div id="about">
      <h4>About</h4>
      The Pinterest engineering blog.
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12967896-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      
      
      
      </div> <!-- end about -->
      
      <!--
          TWITTER BADGE
          If you'd like a twitter badge, uncomment the following div,
          and change <username>s to your twitter username
      -->
      
      <!--
      <div id="twitter_div">
        <h4><a href="http://twitter.com/<username>">Latest Tweet</a></h4>
        <ul id="twitter_update_list">
          <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/<username>.json?callback=twitterCallback2&amp;count=1"></script></p>
      </div>
      -->

      <div id="other">
        <h4>Categories</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/">Site Features & Tips</a></li>
          <li><a href="/">Weekly Round-Ups</a></li>
          <li><a href="">Pinteresting Trends</a></li>
          <li><a href="/">Guest Posts</a></li>
        </ul>

      </div>
    </div> <!-- end sidebar div -->
    
    <div id="content">
    {{content}}
    </div> <!-- end content div -->
  </div> <!-- end containing div -->
  
  <div id="footer">        
    <div id="footer-container">  
      <div id="following">
        <h4>Tumbleroll</h4>
        
        <ul>
          
          <li><a href="http://blog.museumofusefulthings.com/" title="museumofusefulthings"><img src="http://25.media.tumblr.com/avatar_493420129ea6_30.png"></a></li>
          
          <li><a href="http://bitdrift.com/" title="bitdrift"><img src="http://30.media.tumblr.com/avatar_e89786136d61_30.png"></a></li>
          
        </ul>
        
      </div>
      
      <div id="colophon">
        <h4>Thanks for reading!</h4>
        <p>If you have questions, suggestions, or need help, feel free to <a href="mailto:engineering@pinterest.com">email us</a>.
      </div>
    </div> <!-- end footer container -->
  </div> <!-- end footer -->

	
  <script type="text/javascript">
  //<![CDATA[
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/pinterest/get_num_replies.js' + query + '"></' + 'script>');
  })();
  //]]>
  </script>
  
<!-- BEGIN TUMBLR CODE --><iframe src="http://assets.tumblr.com/iframe.html?9&src=http%3A%2F%2Fblog.pinterest.com%2F&amp;lang=en_US&amp;name=pinterest&amp;brag=0" scrolling="no" width="330" height="25" frameborder="0" style="position:absolute; z-index:1337; top:0px; right:0px; border:0px; background-color:transparent; overflow:hidden;" id="tumblr_controls"></iframe><!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]--><script type="text/javascript">_qoptions={qacct:"p-19UtqE8ngoZbM"};</script><script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script><noscript><img src="http://pixel.quantserve.com/pixel/p-19UtqE8ngoZbM.gif" style="display:none; border-width:0px; height:1px; width:1px;" alt=""/></noscript><!-- END TUMBLR CODE --></body>
</html>
